In [18]:
import pandas as pd
import random as rd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
data = pd.read_csv("../inputs/loan.csv",
                   dtype={
                      "index": int,
                       "id": int
                   }

C:\Users\mhillali\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
print(data[100:110])

          id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
100  1068509    1302907     6200.0       6200.0           6200.0   36 months
101  1034693    1264291    16000.0      16000.0          16000.0   60 months
102  1068508    1302906     6000.0       6000.0           6000.0   36 months
103  1066641    1300833     7200.0       7200.0           7200.0   36 months
104  1068315    1302930     9500.0       9500.0           9500.0   36 months
105  1068309    1302924    18825.0      18825.0          18800.0   60 months
106  1068326    1302942    24000.0      24000.0          24000.0   36 months
107  1066767    1300950     6000.0       6000.0           6000.0   36 months
108  1068484    1302879     6000.0       6000.0           6000.0   36 months
109  1068292    1302706     2100.0       2100.0           2100.0   36 months

     int_rate  installment grade sub_grade     ...      total_bal_il il_util  \
100      9.91       199.80     B        B1     ...               NaN     NaN
101     17.58       402.65     D        D4     ...               NaN     NaN
102      8.90       190.52     A        A5     ...               NaN     NaN
103      9.91       232.02     B        B1     ...               NaN     NaN
104      8.90       301.66     A        A5     ...               NaN     NaN
105     16.77       465.53     D        D2     ...               NaN     NaN
106     10.65       781.76     B        B2     ...               NaN     NaN
107     13.49       203.59     C        C1     ...               NaN     NaN
108     13.49       203.59     C        C1     ...               NaN     NaN
109     12.42        70.18     B        B4     ...               NaN     NaN

    open_rv_12m  open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi  \
100         NaN          NaN        NaN      NaN              NaN    NaN
101         NaN          NaN        NaN      NaN              NaN    NaN
102         NaN          NaN        NaN      NaN              NaN    NaN
103         NaN          NaN        NaN      NaN              NaN    NaN
104         NaN          NaN        NaN      NaN              NaN    NaN
105         NaN          NaN        NaN      NaN              NaN    NaN
106         NaN          NaN        NaN      NaN              NaN    NaN
107         NaN          NaN        NaN      NaN              NaN    NaN
108         NaN          NaN        NaN      NaN              NaN    NaN
109         NaN          NaN        NaN      NaN              NaN    NaN

    total_cu_tl inq_last_12m
100         NaN          NaN
101         NaN          NaN
102         NaN          NaN
103         NaN          NaN
104         NaN          NaN
105         NaN          NaN
106         NaN          NaN
107         NaN          NaN
108         NaN          NaN
109         NaN          NaN

[10 rows x 74 columns]

In [19]:
 for dep_var in data.columns:
            print(data[dep_var].describe())
            print("Skewness : %f" % data[dep_var].skew())
            print("Kurtosis %f " % data[dep_var].kurt())
            plt.figure()
            sns.distplot(data[dep_var])

count    8.873790e+05
mean     3.246513e+07
std      2.282734e+07
min      5.473400e+04
25%      9.206643e+06
50%      3.443327e+07
75%      5.490814e+07
max      6.861706e+07
Name: id, dtype: float64
Skewness : 0.023905
Kurtosis -1.490024
count    8.873790e+05
mean     3.500182e+07
std      2.411335e+07
min      7.047300e+04
25%      1.087713e+07
50%      3.709528e+07
75%      5.847135e+07
max      7.354484e+07
Name: member_id, dtype: float64
Skewness : 0.017412
Kurtosis -1.465814
count    887379.000000
mean      14755.264605
std        8435.455601
min         500.000000
25%        8000.000000
50%       13000.000000
75%       20000.000000
max       35000.000000
Name: loan_amnt, dtype: float64
Skewness : 0.681683
Kurtosis -0.256715
count    887379.000000
mean      14741.877625
std        8429.897657
min         500.000000
25%        8000.000000
50%       13000.000000
75%       20000.000000
max       35000.000000
Name: funded_amnt, dtype: float64
Skewness : 0.683745
Kurtosis -0.251638
count    887379.000000
mean      14702.464383
std        8442.106732
min           0.000000
25%        8000.000000
50%       13000.000000
75%       20000.000000
max       35000.000000
Name: funded_amnt_inv, dtype: float64
Skewness : 0.680983
Kurtosis -0.251765
count         887379
unique             2
top        36 months
freq          621125
Name: term, dtype: object

TypeError: could not convert string to float: ' 36 months'